:root {
  background-color: #BFC5FF;
}

body {
  margin: 0;
  font-family: "neue-haas-grotesk-display", sans-serif;
  background-color: #BFC5FF;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s, text-decoration 0.3s;
}

.navbar-button:hover {
  color: #000;
  text-decoration: underline;
}

.logo {
  height: 50px;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.homepage-text, .footer {
  font-size: 1.5rem;
  text-align: center;
}

.footer {
  padding: 20px 0;
}

.homepage-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.dropdown {
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  cursor: pointer;
}

.proceed-button {
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #BFC5FF;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.proceed-button:hover {
  background-color: black;
  color: white;
}

.company-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.company-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.company-description {
  color: #555;
}

.company-card:hover {
  transform: scale(1.05);
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}