:root {
  background-color: #BFC5FF;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
}

.navbar-button{
  color: black;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #BFC5FF;
  border: #BFC5FF;
  cursor: pointer;
}

.navbar-button:hover{
  color: black;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #BFC5FF;
  border: #BFC5FF;
  cursor: pointer;
  text-decoration: underline;
}

.logo {
  padding-right: 1000px;
}

h1{
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: black;
  font-weight: 400;
  font-style: bold;
  font-size: 4rem;
  text-align: center;
}

.homepage-text {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: black;
  font-weight: 400;
  font-style: bold;
  font-size: 2rem;
  text-align:center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.footer {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  padding-top: 15vh;
  text-align:center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.homepage-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}

.option-label {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align:center;
  align-items: center;
}

.dropdown-box{
  background-color:#BFC5FF;
  width: 200px;
  height: 25px;
  cursor: pointer;

}

button.btn.btn-default {
  background: #e0e0e0;
  box-shadow: none;
}

.proceed-button{
  font-family: "neue-haas-grotesk-text", sans-serif;
  color: black;
  font-weight: bold;
  background-color: #BFC5FF;
  font-size: 1.30rem;
  border-color: white;
  border: 3px solid black;
  width: 120px;
  border-radius: 90%;
  height: 80px;
  cursor: pointer;

}

.proceed-button:hover{
  font-family: "neue-haas-grotesk-text", sans-serif;
  color: white;
  font-weight: bold;
  background-color: black;
  font-size: 1.30rem;
  border-color: white;
  border: 3px solid black;
  width: 120px;
  border-radius: 90%;
  height: 80px;
  cursor: pointer;
}
